<%- css('css/article.css') %>
<%- css('libs/font-awesome/css/font-awesome.min.css') %>


<div style="width: 80%; float: left">

<% site.posts.each(function(post) { %>
    <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %><%= (post.direction && post.direction.toLowerCase() === 'rtl' ? ' rtl' : '') %>" itemscope itemprop="blogPost">
        <div class="article-inner">
            <% if (post.banner) { %>
                <img src="<%- post.banner %>" class="article-banner" />
            <% } %>
            <% if (post.title) { %>
                <header class="article-header">
                <h1>
                    <%- post.title %>
                </h1>
                        <div class="article-date">
                            <i class="fa fa-calendar"></i>
                            <%= date(post.date, "MM/DD/YYYY") %>
                        </div>
                        <div class= "article-category">
                            <i class="fa fa-folder"></i>
                            <%= post.type %>
                        </div>
                </header>
            <% } %>
            <div class="article-entry" itemprop="articleBody">
                    <p>
                            <%- post.content %>
                        </p>
                     </div>

                    </div>
                </article>
<% }) %>
</div>